.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;
    margin: 0 auto;
}

.software_skills {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    padding: 3rem 0;
    .tech_icon {
        padding: 15px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
        border-radius: 50%;
        svg {
            width: 30px;
            height: 30px;
        }
    }
}

.softskills {
    text-align: start;
    margin-top: 3rem;
    p {
        font-weight: 300;
        font-size: 1.1rem;
    }
}