.profile {
    padding: 6rem 0;
    background: linear-gradient( 35deg, #11cdef 0, #1171ef 100%) !important;
    .info {
        margin-bottom: 2rem;
        h3,
        h4,
        p {
            color: #fff !important;
        }
        h4 {
            font-weight: 300;
        }
        p {
            font-weight: 300;
            margin-bottom: 0;
            font-size: 1.1rem;
            span {
                display: inline-block;
                width: 60px;
            }
        }
    }
    .avatar {
        width: 50%;
        border-radius: 50%;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
        @media only screen and (max-width: 766px) {
            margin-top: 5rem;
        }
    }
}